/* 
============================
Theme Design
============================
Theme - #84CB9A
border-radius: 10px
font-size: 15px
box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
*/

body {
    font-family: "Open San", sans-serif;
    color: black;
    font-weight: 600;
}

.card {
    border-radius: 12px !important;
    box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%) !important;
    background-color: #fff;
    color: #252422;
    margin-bottom: 20px;
    position: relative;
    border: 0 none;
}


/* ============Button===================== */

.card .btn-theme {
    background: #84cb9a;
    color: rgb(54, 54, 54);
    font-weight: 700;
}

.form .btn-theme {
    background: #84cb9a;
    color: rgb(54, 54, 54);
    font-weight: 700;
}